/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    animation: backgroundChange 10s infinite; 
}

header {
    background: #d5afaf;
    color: #ffffff;
    padding: 10px 0;
    text-align: center; 
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #f4f4f4;
    padding: 40px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

section {
    padding: 20px;
    text-align: center; 
}

.perfil {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
}

.perfil img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #d5afaf;
}

.info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.habilidade {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 40px);
    text-align: center; 
}

.habilidade h3 {
    margin-bottom: 10px;
}

.habilidade ul {
    list-style: none;
    padding: 0;
}

.habilidade ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.info p {
    font-size: 1rem;
    color: #000000;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.habilidade li {
    background-color: #fcf3f3;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.habilidade li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.habilidade a {
    text-decoration: none;
    color: #accef1;
    font-weight: bold;
}

.habilidade a:hover {
    text-decoration: underline;
}

.contato-info {
    text-align: center;
    margin-bottom: 20px;
}

.contato-form {
    max-width: 600px; 
    margin: 0 auto; 
}

.contato-form form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.contato-form label {
    font-size: 1rem;
    color: #000000;
}

.contato-form input,
.contato-form textarea {
    padding: 10px;
    border: 1px solid #e6d6d6;
    border-radius: 5px;
    width: 100%; 
}

.contato-form button {
    padding: 1%; 
    background: #b38c8c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.contato-form button:hover {
    background: #e2bebe;
}

.social-media {
    display: flex;
    justify-content: center; 
    gap: 35px;
    margin-top: 30px; 
}

.social-icon {
    width: 50px; 
    height: 50px;
}

.social-icon img {
    width: 100%; 
    height: auto; 
}

footer {
    background: #d5afaf;
    color: #ffffff; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center; 
    }
}

